# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
.venv/
venv/
pip-wheel-metadata/
*.egg-info/
dist/
build/

# Virtual env
.venv/

# Pytest cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# DVC
.dvc/
.cache/

# Mac
.DS_Store

# Logs
logs/
*.log

# Model artifacts
models/
runs/
